<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<p><%= @flat.number_of_guests %></p>
<p><%= @flat.price_per_night %></p>
<h2>Description</h2>
<p><%= @flat.description %></p>
<%= link_to "Back to list", flats_path %>


